/* ==============
 Global Attributes
 ============= */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
.wrapper,
.main-header,
.header-nav,
.header-nav ul,
.header-nav li,
.about-me,
.profile-image,
.profile,
.portfolio,
.portfolio-link,
.icon,
.portfolio-info,
.portfolio-heading,
.info,
.contact,
.contact-me,
.contact-info,
.footer
.footer-name,
.footer-nav,
.footer-nav ul,
.footer-nav li {
  /* border: 1px solid red; */
}


 /* =============
 Base Styles
 ============= */

 /* ---Navigation--- */

.header-nav {
  text-align: center;
}

.header-nav li {
  background-color: #fff;
  padding: 5px 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

 /* ---Layout--- */

.wrapper {
  background-color: #F8F8F8;
  padding-top: 20px;
  padding-bottom: 50px;
}

.header-name {
  text-align: center;
  padding-top: 10px;
  margin-top: 0;
}

.profile {
  text-align: center;
  padding: 0 20px;
}

.profile-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#portfolio {
  padding-bottom: 20px;
}

.portfolio {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.portfolio-link {
  margin-bottom: 20px;
}

.icon {
  width: 90%;
}

.portfolio-info {
  padding: 0 10px;
}

.portfolio-heading {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.info {
  margin: 0 5px;
}

#contact {
    padding-top: 30px;
    padding-bottom: 15px;
}

.contact {
  text-align: center;
  /* padding-bottom: 20px; */
  margin: 0 10px;
  border-bottom: 1px solid lightgrey;
}

.contact-me {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.phone,
.email {
  font-weight: bold;
}

.main-footer {
  /* font-size: .7em; */
  padding: 20px 0;
}

.footer-name {
  font-size: 1em;
  margin-top: 0;
}

.footer-nav {
  font-size: .8em;
  margin-top: 0;
}

.narrow {
  float: right;
}

 /* =============
 Media Querries
 ============= */
@media (max-width: 767px) {
  .about-me {
    padding: 20px 0;
  }

  .profile-image {
    width: 80%;
  }

  .footer-name,
  .footer-nav {
    width: 50%;
    float: left;
    display: inline;
  }

  .footer-name {
    padding: 13px;
  }

  .footer-nav {
    /* margin-top: 15px; */
    padding: 15px;
  }

  .wide {
    display: none;
  }


}

@media (min-width: 768px) {

  .wrapper {
    padding-bottom: 10px;
  }

  .header-nav li {
    display: inline-block;
    background-color: transparent;
  }

  .profile,
  .profile-image {
    /* width: 50%; */
    text-align: left;
    float: right;
    display: inline;
    padding-top: 50px;
  }

  .about-me {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .profile {
    width: 50%;
    padding-left: 20px;
  }

  .profile-image {
    width: 50%;
  }

  .image {
    width: 70%;
  }

  .portfolio-link {
    width: 50%;
    float: left;
    display: inline-block;
  }

  .footer-name {
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0;
  }

  .footer-nav {
    width: 50%;
    float: right;
    display: inline-block;
    margin: 0;
  }

  .footer-nav li {
    display: inline-block;
  }

  .footer-name {
    padding-top: 13px;
    padding-left: 30px;
  }

  .footer-nav {
    padding: 10px;
  }

  .footer-nav ul {
    margin-left: 10px;
  }

  .narrow {
    display: none;
  }

  .wide {
    padding: 0 25px;
  }

  /* =============
  Clearfix
  ============= */

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {

  .header-name,
  .header-nav {
    width: 50%;
    float: left;
    display: inline;
    margin: 0;
  }

  .header-name {
    padding-top: 15px;
  }

  .header-nav li {
    display: inline-block;
    margin: 15px;
  }

  .portfolio-link {
    width: 33%;
    float: left;
    display: inline-block;
  }

  .footer-nav {
    padding: 10px;
  }

  .footer-nav ul {
    margin-left: 50px;
  }

  .wide {
    padding: 0 30px;
  }

 /* =============
 Clearfix
 ============= */

 .clearfix::after {
   content: "";
   display: table;
   clear: both;
 }
}
